.featured {
  height: 90vh;
  position: relative;
  margin-top: 70px;

  .shade {
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 100%;
  }

  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;
    display: flex;
    flex-direction: column;

    img {
      width: 400px;
      margin-bottom: 30px;
    }

    .title {
      font-size: 30px;
      font-weight: 500;
      color: white;
      margin: 10px 0;
    }

    .short-desc {
      color: gray;
      display: flex;
      align-items: center;

      .age-rating {
        padding: 1px 3px;
        border: 1px solid gray;
      }

      .sd-spacer {
        margin: 0 5px;
      }

      a {
        color: gray;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .desc {
      margin: 20px 0;
      font-size: 16px;
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;

        &.play {
          background-color: #e50914;
          color: white;
        }

        &.more {
          background-color: white;
          color: var(--main-color);
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}
